@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 16px;
}

body {
    font-family: 'Jost', sans-serif;
    color: $gray;
}
.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    span {
        font-style: italic;
    }
}
.btn {
    color:$white;
    background-color: $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.3rem 2.68rem;
    border-radius: 2rem;
    letter-spacing: 0.075rem;
    box-shadow: 5px 8.66px 11.18px 1.82px rgba(207, 92, 13, 0.2);
}
.ml {
    margin-left: 7.6rem;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.section-main {
    background-image: url(../img/bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
        flex: 0 0 40%;
        padding-top: 190px;
        &__description {
            font-size: 1.12rem;
            line-height: 1.51;
            margin-top:60px;
            margin-bottom: 77px;
        }
    }
    &-visual {
        border: 1px solid rgba($gray, $alpha);
        border-radius: 100%;
        padding: 53px;
        &__image {
            border: 1px solid rgba($gray, $alpha);
            border-radius: 100%;
            padding: 21px;
            img {
                border-radius: 100%;
                box-shadow: 15px 48px 42px 0px rgba($gray, $alpha);
            }
        }
    }
}