@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 16px;
}

body {
    font-family: 'Jost', sans-serif;
    color: $gray;
}
.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    span {
        font-style: italic;
    }
}
.btn {
    color:$white;
    background-color: $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.3rem 2.68rem;
    border-radius: 2rem;
    letter-spacing: 0.075rem;
    box-shadow: 5px 8.66px 11.18px 1.82px rgba(207, 92, 13, 0.2);
}
.ml {
    margin-left: 7.6rem;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-main {
    background-image: url(../img/bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 208px;
    position: relative;
    &__image {
        position: absolute;
    }
    &__tomato {
        right: 177px;
        bottom: 138px;
    }
    &__cucumber {
        left: 37%;
        top: 0;
    }
    &__avocado {
        right: 0;
        top: 46px;
    }
    &__pepper {
        left: 94px;
        top: 40%;
    }
    &__beans {
        left: 0;
        bottom: 174px;
    }
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
        flex: 0 0 40%;
        padding-top: 24px;
        &__description {
            font-size: 1.12rem;
            line-height: 1.51;
            margin-top:30px;
            margin-bottom: 77px; 
        }
    }
    &-visual {
        border: 1px solid rgba($gray, $alpha);
        border-radius: 100%;
        padding: 53px;
        position: relative;
        &__image {
            border: 1px solid rgba($gray, $alpha);
            border-radius: 100%;
            padding: 21px;
            img {
                border-radius: 100%;
                box-shadow: 15px 48px 42px 0px rgba($gray, $alpha);
            }
        }
        &__btn {
            background-color: transparent;
            border: none;
            color: rgba($gray, 0.8);
            text-align: left;
            position: absolute;
            span {
                color: rgba($gray, 1);
                display: block;
                margin-top: 6px;
            }
            &::before {
                content: '';
                display: block;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background-color: $gray;
                box-shadow: 0 0 0 4px #fff, 0 0 0 5px $gray;
                position: absolute;
            }
            &:focus {
                outline: none; 
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
                }
            }
        }
        &__01 {
            left:58px;
            top:45px;
            &::before {
                left:91px;
                top:22px;
            }
        }
        &__02 {
            right:-4px;
            top:190px;
            &::before {
                right:94px;
                top:21px;
            }
        }
        &__03 {
            right: 236px;
            bottom: -48px;
            &::before {
                right: 37px;
                bottom: 56px;
            }
        }
    }
}
.section-stock {
    background-image: url(../img/bg-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__text {
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 690px;
        margin-top: 3.75rem;
    }
}